@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.product-management-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-management-container .page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-management-container .product-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.product-management-container .product-image {
  width: auto;
  max-height: 200px;
  object-fit: cover;
}

.product-management-container .product-body,
.product-management-container .product-quantity {
  font-size: 8px;
}

.product-management-container .product-details {
  flex: 1;
  margin: 8px;
}

.product-management-container .product-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-management-container .product-description {
  margin-bottom: 10px;
}

.product-management-container .product-category {
  font-style: italic;
  color: #666;
}

.product-management-container .product-actions {
  margin-top: 10px;
}

.product-management-container .edit-button {
  background-color: #007bffc0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.product-management-container .delete-button {
  background-color: #ff0000d2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.product-management-container .edit-button:hover{
  background-color: #0056b3;
}

.product-management-container .delete-button:hover {
  background-color: red;
}

.add-product-button {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  background-color: #f0c14b;
  color: #111;
  border: 1px solid #a88734;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  position: relative;
}

.add-product-button:hover {
  background-color: #ffd700;
}

/* Modal Styles */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 80%;
  padding: 20px;
  z-index: 1000;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-button-cancel,
.modal-button-confirm {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 3px;
  color: #111;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.modal-button-cancel:hover,
.modal-button-confirm:hover {
  background-color: #e2ae3e;
}

.modal-button-cancel {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.modal-button-cancel:hover {
  background-color: #e5e5e5;
}

/* Overlay Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
