/* Importing Font Style */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h3 {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  padding: 10px;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-container {
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff80;
  font-family: Baskerville;
  font-size: 15px;
  color: rgb(78, 77, 77);
  margin-top: 2px;
  object-fit: cover;
  position: relative;
}

.product-image {
  width: 30%;
  height: 30%;
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
  white-space: nowrap;
}

.add-to-cart-button {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #dfdbc3;
  color: #454545b5;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.224);
  transition: box-shadow 0.3s ease;
}

.add-to-cart-button:hover {
  text-decoration: underline;
  background-color: #f7e99b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 915px) {
  .products-container {
    justify-content: center;
  }

  .product-container {
    flex-basis: calc(50% - 20px);
  }

  .product-image {
    max-width: 100%;
    max-height: 200px;
  }
}
