@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h3 {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 calc(20% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333;
  transition: all 0.3s ease;
  position: relative;
}

.product-container h6 {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-top: 10px;
}

.product-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.available {
  position: relative;
  display: inline-block;
  border: none;
  padding: 8px 8px;
  background-color: #b4dfe4ab;
  border-radius: 3px 12px 12px;
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  width: 33%;
}

.add-to-cart-button {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 4px;
  background-color: #f0c14b;
  color: #111;
  border: 1px solid #a88734;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: #f7e99b;
}

@media screen and (max-width: 915px) {
  .product-container {
    flex-basis: calc(50% - 20px);
  }
}
