/* Importing Font Style */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Container styles */
.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.login-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form styles */
.login-form-container form {
  display: flex;
  flex-direction: column;
}

.login-form-container label {
  margin-bottom: 10px;
}

/* Set a fixed width for both email and password input fields */
.login-form-container input[type="text"],
.login-form-container input[type="password"] {
  font-family: "Spectral SC", serif;
  font-style: normal;
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-container input:focus {
  outline: none;
  border-color: #007bff;
}

.login-form-container button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-form-container button:hover {
  background-color: #3884d6;
}

/* Error message styles */
.login-form-container p {
  color: #dc3545;
  margin-top: -10px;
  margin-bottom: 10px;
}
