@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Product title */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Product price */
.product-detail-price {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Product details container */
.product-details-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  max-width: 500px;
}

/* Product detail image */
.product-detail-image {
  width: 300px;
  max-height: 300px;
  object-fit: contain;
  margin-top: 20px;
}

/* Product description */
.product-detail-description {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

/* Review container */
.review-container {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

/* Review user name */
.review-user {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
}

/* Review rating */
.review-rating {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #f0c14b;
}

/* Review body */
.review-body {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 14px;
}

/* Review image */
.review-image {
  display: block;
  margin-top: 10px;
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

/* Add Review button */
.create-review {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #f0c14b;
  color: #111;
  border: 1px solid #a88734;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.create-review:hover {
  background-color: #f7e99b;
}

/* Review verified purchase */
.review-verified-purchase {
  background-color: #c0e1f7;
  color: #0073e6;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 3px 12px 12px;
  display: inline-block;
  margin-top: 10px;
}

/* Edit and Delete Review buttons */
.edit-review, .delete-review {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin: 5px;
}

.edit-review:hover, .delete-review:hover {
  background-color: #ccc;
}

/* Add to Cart button */
.product-detail-add-to-cart-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Average rating stars */
.average-rating-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.star-filled {
  color: #f0c14b;
}

.star-empty {
  color: #ddd;
}
