/* Importing Font Style */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Navigation Container */
nav {
  background-color: #436186;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Logo */
.navigation-logo-container {
  display: flex;
  align-items: center;
}

.nav-bar-logo {
  width: 100px;
  height: auto;
}

/* Additional Links */
.additional-links {
  display: flex;
  align-items: center;
}

/* Profile Button */
.profile-button,
.cart-button {
  margin-left: 40px;
}

.profile-button button,
.cart-button button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 16px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}

.cart-button button:hover {
  background-color: rgba(0, 177, 186, 0.2);
}

ul.profile-dropdown {
  position: absolute;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: block;
  z-index: 2;
  max-width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
  right: 80px;
}


ul.profile-dropdown li:hover {
  text-decoration: underline;
}

ul.profile-dropdown {
  list-style-type: none;
}

ul.profile-dropdown .logout button {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  color: #ffffff;
  background-color: #ff000093;
  padding: 8px;
}

ul.profile-dropdown .logout button:hover{
  background-color: red;
}

/* Cart Sidebar */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  border: .3px solid black;
  align-items: center;
  display: block;
}

.cart-sidebar button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: .3px black solid;
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  display: inline-flex;
}

.cart-sidebar.open {
  transform: translateX(0);
}

.toggle-cart {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: auto;
}

.close-cart {
  background-color: #1bc2b1be;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
}

.view-cart {
  background-color: #1bc2b1;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

.cart-content .cart-action-buttons {
  display: flex;
  justify-content: space-between;
}

.cart-content .cart-action-buttons button {
  flex: 0 0 auto;
}

/* Styles for cart content */
.cart-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  color: black;
}

.cart-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-content h2 {
  font-size: 10px;
  margin-bottom: 5px;
}

.cart-item {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  min-width: 150px;
}

.cart-item button {
  margin: 1px;
}

.cart-item-delete {
  padding: 5px;
}

p.cart-item-name {
  font-size: 8px;
}

.cart-item-quantity button {
  padding: 1px 10px;
  font-size: 8px;
}


/* Categories */
.category-section ul {
  display: flex;
  list-style: none;
}

.category-section ul li {
  margin-right: 20px;
}

.category-section ul li a {
  color: white;
  text-decoration: none;
}

.category-section ul li a:hover {
  text-decoration: underline;
}
