@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.create-update-product-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-update-product-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.create-update-product-form input[type="text"],
.create-update-product-form input[type="number"],
.create-update-product-form textarea {
  width: 97%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.body-textarea {
  resize: vertical;
}

.image-file-field label {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.Product-Btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product-Submit-btn,
.back-to-product {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Product-Submit-btn {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fbbc5d;
  color: #fff;
}

.Product-Submit-btn:hover {
  background-color: #ffa319;
}

.back-to-product {
  background-color: #0066c0;
  color: #fff;
}

.back-to-product:hover {
  opacity: 0.8;
}

.loading {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .create-update-product-form {
    padding: 10px;
  }
}
